* {
  margin: 0;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  padding: 80px;
  justify-content: center;
}
form input{
  padding: 10px;
  margin: 5px;
}

nav{
 background-color: rgb(35, 113, 159);
 color: white;
 display: flex;
 justify-content: center;
 height: 6vh;
 padding: 5px;

}
.contact{
  margin: 20px;
  font: 20px;
  padding: 20px;
  background-color: rgb(56, 168, 209);
  color: white;
}
.contact h1{
  text-decoration: overline;
 text-align: center;
 font-size: 25px;
}